# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Node / Vue
node_modules/
dist/
build/

# TypeScript incremental build artifacts
*.tsbuildinfo

# Java / Spring Boot
target/
*.log

# Flutter / Android
build/
*.apk

# Environment / secrets
.env
*.pem
.vercel
.env*.local

